<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--
    CREATE TABLE `USER_FAVORITES` (
        `RGTR_ID`	BIGINT	NOT NULL,
        `STRN_CD`	INT(10)	NULL,
        `REG_DT`	DATETIME	NULL,
        `Field`	VARCHAR(255)	NULL
    );
    ALTER TABLE `USER_FAVORITES` ADD CONSTRAINT `FK_USER_TO_USER_FAVORITES_1` FOREIGN KEY (
        `RGTR_ID`
    )
    REFERENCES `USER` (
        `USR_ID`
    );
-->

<mapper namespace="com.spring.sunyeop2.myPage.mapper.UserFavoritesMapper">


    <select id="myFavoriteStockList" resultType="UserStock" parameterType="long">
        SELECT * FROM USER_FAVORITES WHERE RGTR_ID = #{usrId};
    </select>

    <delete id="deleteMyFavorite" parameterType="map">
        DELETE FROM USER_FAVORITES WHERE RGTR_ID = #{usrId} AND SRTN_CD = #{srtnCd};
    </delete>

    <insert id="registMyFavorite" parameterType="map">
        INSERT INTO USER_FAVORITES(RGTR_ID,SRTN_CD) VALUES (#{usrId} , #{srtnCd});
    </insert>


</mapper>